/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Fonts */
html {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
}

/* Color Properties */
:root {
  --color-darker: #813e34;
  --color-dark: #994c41;
  --color-light: #cad4dc;
  --color-lighter: #dcd1b4;
  --color-lighter2: #e6e6e6;

  /* you could add an accent color for CTAs and anchor tags ;-) */
}

h1,
h2,
h3 {
  font-family: "Noto Serif Display", serif;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.052rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
  color: var(--color-lighter);
}

h2 {
  font-size: 1.953rem;
  line-height: 2rem;
  margin-bottom: 2rem;
  color: var(--color-darker);
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--color-darker);
}

p {
  color: #222;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: var(--color-darker);
}

a:hover {
  text-decoration: underline;
}

/* UI Elements */
button {
  display: inline-block;
  height: 3rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 2rem;
  background-color: var(--color-lighter);
  color: var(--color-darker);
}

button:hover {
  cursor: pointer;
}

.dark_button {
  background-color: var(--color-lighter);
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 3rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: #eee;
  border-color: #ddd;
  color: #222;
}

/* Menu */
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-darker);
}

nav[data-theme="dark"] {
  background-color: #2d100b;
}

nav a {
  color: var(--color-lighter);
  text-decoration: none;
}

nav a.logo {
  font-family: "Noto Serif Display", serif;
  font-size: 1.25rem;
  font-weight: bold;
}

nav li {
  display: inline-block;
  margin: 0px 1rem;
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  padding: 5rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-dark);
}

header p {
  color: #ddd;
}

header button {
  margin-bottom: 3rem;
}

.header_text {
  width: 30vw;
  min-width: 300px;
}

.header_graphics {
  width: 25vw;
  height: 25vw;
  min-width: 250px;
  min-height: 250px;
  border-radius: 250px;
  background-color: var(--color-light);
  margin-bottom: 1rem;
  padding: 3rem;
}
.header_graphics object {
  width: 100%;
  height: 100%;
}

.header_graphics object svg path {
  fill: #f00;
}

/* product section */
#product {
  padding: 5rem 3rem;
  background-color: var(--color-light);
}

#product h2 {
  font-size: 3.052rem;
  line-height: 3.5rem;
}

#product article {
  display: flex;
  min-height: 50vh;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#product article:first-child {
  min-height: 40vh;
}

.product_text {
  width: 50vw;
  min-width: 300px;
}

#product article:first-child .product_text {
  width: 75vw;
  min-width: 300px;
}

.product_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  padding: 1rem;
  margin: 3rem;
  background-color: var(--color-lighter);
  border-radius: 300px;
}
.product_graphics object {
  width: 100%;
  height: 100%;
}

/* highlight sections */
.highlight {
  display: flex;
  min-height: 70vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
}

.highlight div {
  width: 80vw;
}

.highlight div h2 {
  font-size: 5.005rem;
  line-height: 6rem;
}

.dark {
  background-color: #222;
}

.dark h2 {
  color: #eee;
}

.dark a {
  color: #ccc;
}

/* request section */
#request {
  display: flex;
  min-height: 50vh;
  padding: 2rem;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-lighter2);
}

#request div {
  width: 50vw;
  min-width: 300px;
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-darker);
}

footer h2,
footer h3 {
  color: var(--color-lighter);
  margin-bottom: 1rem;
}

footer a {
  color: var(--color-lighter);
}

footer section.left {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}

html {
  background-color: #fff;
}

html[data-theme="dark"] {
  /*
  background-color: #333333;
  color: #dcd1b4;*/
  --color-darker: #360a03;
  --color-dark: #4e1b14;
  --color-light: #697a87;
  --color-lighter: #dccfad;
  --color-lighter2: #9f8989;
  background-color: #697a87;
}

input[type="checkbox"] {
  /* styling for input element */
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  /* styling for labels */
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: #9fa397;
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  /* styling for labels - on toggle */
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  /* conditional check while toggling */
  background: rgb(224, 216, 216);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

#container {
  /* position: absolute; */

  width: 350px;
  height: 350px;
  margin: auto;
  transform: rotate(45deg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Style the header: fixed position (always stay at the top) */
.header1 {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #724336;
  width: 0%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9em;
  }

  #product h2 {
    font-size: 1.953rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  .highlight div h2 {
    font-size: 3.052rem;
    line-height: 3.5rem;
  }

  #container {
    /* position: absolute; */

    width: 250px;
    height: 250px;
    margin: auto;
    transform: rotate(45deg);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
